body {
    background-color: white;
    font-family: "Helvetica Neue", "Trebuchet MS";
}

.searchbar {
    background-color: lightgray;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    clear: both;
}
.input {
    width: 400px;
    max-height: 17px;
    padding: 15px;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    font-family: "Helvetica Neue", 'Trebuchet MS';
    vertical-align: middle;
    margin-left: 10%;
    margin-right: 10%;

}
.logo {
    position: relative;
    right: 150px;
    bottom: 150px;
    margin-right: 10%;
}


.button {
    padding: 10.5px;
    width: 80px;
    border-radius: 6px;
    border-color: #DC3838;
    background-color: #DC3838;
    color: white;
    font-size: 13px;
    font-weight: 150;
    position: relative;
    left: 68%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0.5rem;
    cursor: pointer;

}
.button:hover {
    box-shadow: 0 7px 15px 0 rgba(0,0,0,0.19);

}

.banner {
    background-color: lightgrey;
    padding: 150px;
    position: relative;
}
.card {
    padding: 2rem;
    color: darkgray;   
    text-transform: capitalize;
    font-size: 1.5rem;
    
}
.card__heading {
    font-size: 2rem;
    color: #DC3838;
    font-weight: bold;
}
.card__heading .card__name {
    color: grey;    
    font-weight: lighter;
    font-size: 1.8rem;
    margin-left: 1rem;
}
.card__height {
    color: grey;
    font-weight: 500;
}
.card__height .card__dataH {
    font-weight: 300;
    margin-left: 0.5rem;
}
.card__weight {
    color: grey;
    font-weight: 500;
    margin-top: 1rem;
}
.card__weight .card__dataW {
    font-weight: 300;
    margin-left: 0.5rem;

}
.card__stats {
    color: grey;
    font-weight: 500;
    margin-top: 1rem;
}
.card-stats {
    margin-left: 4rem;
    color: grey;
}
.card__image {
    height: 300px;
    width: 300px;
}



.grid {
    display: grid;
    height: 600px;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    border: 3px lightgrey solid;
    grid-template-rows: repeat(6, 2fr); 
    grid-template-columns: 1fr 1fr 1.5fr 2fr;

}
