body {
    background-color: white;

}
.searchbar {
    background-color: lightgray;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    clear: both;
}
.input {
    width: 400px;
    max-height: 17px;
    padding: 15px;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    font-family: "Helvetica Neue", 'Trebuchet MS';
    vertical-align: middle;
    margin-left: 10%;
    margin-right: 10%;

}
.logo {
    position: relative;
    right: 150px;
    bottom: 150px;
    margin-right: 10%;
}


.button {
    padding: 10.5px;
    width: 80px;
    border-radius: 6px;
    border-color: #DC3838;
    background-color: #DC3838;
    color: white;
    font-size: 13px;
    font-weight: 150;
    position: relative;
    left: 68%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0.5rem;
    cursor: pointer;

}
.button:hover {
    box-shadow: 0 7px 15px 0 rgba(0,0,0,0.19);

}




.banner {
    background-color: lightgrey;
    padding: 150px;
    position: relative;
}

.grid {
    display: grid;
    height: 600px;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    border: 3px lightgrey solid;
    grid-template-rows: repeat(6, 2fr); 
    grid-template-columns: 1fr 1fr 1.5fr 2fr;

}
.Label_Name {
    
    color: #DC3838;
    font-family: "Helvetica Neue", "Trebuchet MS";
    font-size: 2.5em;
    padding: 50px;
    margin-left: 80px;
    grid-column: 1 /span 2;
}
.Poke_Name {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 10px;
    margin-left: 10px;
    font-family: "Helvetica Neue", "Trebuchet MS";
    font-size: 32px;
    color: grey;
}

.Label_Height {
    color: grey;
    font-family: "Helvetica Neue", "Trebuchet MS";
    font-size: 24px;
    font-weight: 500;
    padding: 20px;
    float: right;
    
}
.Poke_Height {
    margin-top: 25px;
    font-size: 20px;
    color: grey;
    font-family: "Helvetica Neue", "Trebuchet MS";  
}

.Label_Weight {
    color: grey;
    font-family: "Helvetica Neue", "Trebuchet MS";
    font-size: 24px;
    font-weight: 500;
    padding: 20px;
    float: right;

}
.Poke_Weight {
    margin-top: 25px;
    font-size: 20px;
    color: grey;
    font-family: "Helvetica Neue", "Trebuchet MS";
}
.Poke_Picture {
    grid-row: span 3;
}

.Label_Stats {
    color: grey;
    font-family: "Helvetica Neue", "Trebuchet MS";
    font-size: 24px;
    font-weight: 500;
    padding: 20px;
    float: right;
    grid-column: 1 /span 2; 


}
.Poke_Stats {
    color: grey;
    font-family: "Helvetica Neue", "Trebuchet MS";
    font-size: 20px;
    
    
}