body {
    background-color: white;
    font-family: "Helvetica Neue", "Trebuchet MS";
    
}
.welcome {
    position: absolute;
    top: 20%;
    right: 35%;  
    font-size: 3rem;
    font-family: 'Palatino';
    color: rgb(155, 169, 182);
    text-shadow: 2px 2px 6px #000;
}

.searchbar {
    background-color:(0,0,0,0);
    box-sizing: border-box;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    clear: both;
}
.input {
    width: 400px;
    max-height: 17px;
    padding: 15px;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    font-family: "Helvetica Neue", 'Trebuchet MS';
    vertical-align: middle;
    margin-left: 10%;
    margin-right: 10%;

}

.logo {
    position: absolute;
    left: 5%;
    top: 20%;
    transform: scale(1.75);
    
}


.button {
    padding: 10.5px;
    width: 80px;
    border-radius: 6px;
    border-color: #DC3838;
    background-color: #DC3838;
    color: white;
    text-shadow: 1px 1px 2px #000;
    font-size: 13px;
    font-weight: 150;
    position: relative;
    left: 68%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0.5rem;
    cursor: pointer;

}
.button:hover {
    box-shadow: 0 7px 15px 0 rgba(0,0,0,0.19);

}

.banner {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(220,56,56, 1) 0%, rgba(255,255,255,1) 100%);


    background-color: lightgrey;
    padding: 150px;
    position: relative;
}
.card {
    padding: 3rem;
    color: darkgray;   
    text-transform: capitalize;
    font-size: 1.5rem;
      
}
.card__heading {
    font-size: 2rem;
    color: #DC3838;
    font-weight: bold;
    
}
.card__heading .card__name {
    color: grey;    
    font-weight: lighter;
    font-size: 1.8rem;
    margin-left: 1rem;
}
.card__height {
    color: grey;
    font-weight: 500;
    margin-top: -200px;
}
.card__height .card__dataH {
    font-weight: 300;
    margin-left: 0.5rem;
}
.card__weight {
    color: grey;
    font-weight: 500;
    margin-top: 1rem;
}
.card__weight .card__dataW {
    font-weight: 300;
    margin-left: 0.5rem;

}
.card__stats {
    color: grey;
    font-weight: 500;
    margin-top: 1rem;
}
.card-stats {
    font-weight: 500;
    margin-left: 4rem;
    color: grey;
    margin-top: -0.5rem;
}
.card-stats .base_stats {
    font-weight: 300;
    margin-left: 0.3rem;
}
.card__image {
    height: 300px;
    width: 300px;
    margin-left: 500px;
}
.error {
    position: absolute;
    left: 39%;
    color: darkslategrey;

}
.error .error_message {
    position: absolute;
    align-content: center;
    left: 55px;
}



.grid {
    display: grid;
    height: 600px;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-rows: repeat(6, 2fr); 
    grid-template-columns: 1fr 1fr 1.5fr 2fr;

}
